<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SleepOnLanConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SleepOnLanConsole.Properties.Settings>
            <setting name="Mac" serializeAs="String">
                <value>30-9C-23-43-48-10</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="InitialIdleTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FinalIdleTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HomeAssistant" serializeAs="String">
                <value>192.168.2.101</value>
            </setting>
        </SleepOnLanConsole.Properties.Settings>
    </userSettings>
</configuration>